.container{
  padding: 0;
  margin: 0;
  border: 1px solid gray;
  display: flex;
  list-style: none;
  width: 700px;
}
.nowrap{
  webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.wrap{
  webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap li{
  background: blue;
}
.wrap-reverse{
  webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.wrap-reverse li{
  background: silver;
}
.flex{
  background: gold;
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 10;
  border: 1px solid red;

  text-align: center;
  font-size: 2em;
  font-weight: bolder;
}
